/* General Body Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a;
  padding: 1rem;
  position: sticky;
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  z-index: 10;
}

#nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #1e3a8a;
  font-size: 2rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

nav li {
  list-style-type: none;
  margin: 0 15px;
}

nav,
a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition: font-size 0.3s ease, border-bottom 0.3s ease-in-out;
}

nav a:hover {
  font-size: 1.1rem;
  border-bottom: 2px solid #ffffff;
}


/* Hero Section */
#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 100%;
  height: 100%;
  background-image: url('./images/hero-section-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.text-content {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.text-content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#cta-button {
  padding: 12px 24px;
  border: 2px solid transparent;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#cta-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 91, 182, 0.3);
}


/* About Us Section */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.about-info {
  width: 80%;
  padding-top: 4%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.about-p {
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 10px rgba(0, 91, 182, 0.3);
  border-radius: 10px;
  text-align: left;
  padding-left: 2rem;
}

#about-p-one {
  align-self: flex-start;
  margin-left: -5rem;
}

#about-p-two {
  align-self: center;
}

#about-p-three {
  align-self: flex-end;
  margin-right: -5rem;
}

.about-info h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: #007BFF;
}

.about-info p {
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}


/* Services Section */
#services {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.services-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.services-description {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #555;
}

.services-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.services-grid {
  display: flex;
  transition: transform 0.5s ease;
}

.service {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service p {
  font-size: 1rem;
  color: #555;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-btn,
.next-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #0056b3;
}

/* Contact Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 100vh;
  padding: 40px 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 3em;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 500px;
  width: 50%;
  background-color: #fff;
}

form h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

textarea {
  resize: vertical;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

#form-button {
  padding: 12px 24px;
  border: 2px solid transparent;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#form-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 91, 182, 0.3);
}

#form-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

#form-button:hover::after {
  width: 100%;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: center;
  background-color: #1e3a8a;
  color: #f1f5f9;
  padding: 1.5rem;
  text-align: center;
  margin-top: auto;
  font-size: 1rem;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #60a5fa;
  padding: 0 10px;
}

footer a:hover {
  color: #bfdbfe;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 50px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 65%;
    max-width: 400px;
    border-radius: 10px;
  }

  .text-content h1 {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }

  .text-content p {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  #cta-button {
    font-size: 120x;
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  #cta-button:hover {
    background-color: #0056b3;
  }

  /*About Us*/
  .about-info {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 90%;
  }

  .about-p {
    width: 90%;
    margin: 1.5rem 0;
    font-size: medium;
  }

  #about-p-one,
  #about-p-two,
  #about-p-three {
    align-self: center;
    margin: 0;
  }

  /* Navigation */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #1e3a8a;
    z-index: 1000;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1e3a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    transform: translateX(-100%);

  }

  /* Show menu */
  .nav-links.show {
    transform: translateX(0);
  }

  /* Hamburger Menu */
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
    position: relative;
  }

  .hamburger div {
    width: 35px;
    height: 4px;
    background-color: #f8fafc;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
  }

  /* Hamburger Animation */
  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(8px, 12px);
  }

  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px);
  }

  /*Service*/
  .services-grid {
    grid-template-columns: 1fr;
  }

  /*Contact*/
  form {
    width: 90%;
  }
}